<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>美食点评</title>
    <link href="/plugins/layui/css/layui.css" rel="stylesheet" media="all"/>

</head>

<body>
<div class="layui-container" style="margin-top:15px;">
    <form class="layui-form" method="post" action="/user/edit" id="v-app">
        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red">*</span>登录名</label>
            <div class="layui-input-block">
                <input type="hidden" name="id" value=""/>
                <input type="text" name="name" required lay-verify="required" placeholder="请输入登录名" autocomplete="off" disabled
                       class="layui-input layui-disabled">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red">*</span>姓名</label>
            <div class="layui-input-block">
                <input type="text" name="chName" required lay-verify="required" placeholder="请输入姓名" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red">*</span>手机号</label>
            <div class="layui-input-block">
                <input type="text" name="phone" id="phone" lay-verify="phone"
                       placeholder="手机号" class="layui-input"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red">*</span>邮箱</label>
            <div class="layui-input-block">
                <input type="text" name="email" id="email" lay-verify="email"
                       placeholder="邮箱" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red">*</span>角色</label>
            <div class="layui-input-block">
                <select name="groupId" lay-verify="required" disabled class="layui-disabled">
                    <option value="1">普通用户</option>
                    <option value="2">商家</option>
                    <option value="3">管理员</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="form">立即提交</button>
            </div>
        </div>
    </form>
</div>

<script src="/plugins/jquery.min.js"></script>
<script src="/plugins/layui/layui.all.js"></script>
<script src="/js/main.js"></script>
<script type="text/javascript" th:inline="none">
    var cc = {
        setForm: function (id, callback) {
            layui.use(['form'], function () {
                var form = layui.form;
                layui.form.on('submit(form)', function (data) {
                    com.ajax({
                        url: data.form.action,
                        data: JSON.stringify(data.field),
                        showMsg: true,
                        success: callback
                    });
                    return false;
                });

                com.getInfoById('/user', id,
                    function () {
                        layui.form.render();
                    });
            });
        }
    }
</script>
</body>
</html>